*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(38, 38, 39);
}
h4{
    color: rgb(84, 87, 90);
}
a{
    color: rgba(59, 135, 211, 0.9);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.head{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: rgba(51, 51, 51, 0.9);
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 44px;
}
.link{
    text-decoration: none;
    color: #f5f5f7;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 200;
}


.p1{
    width: 100%;
    background-color:rgb(208, 222, 236);
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 14, 45);
    margin-top: 10px;
}
.h1{
    padding-top: 35px;
    width: fit-content;
    font-size: 44px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.h2{
    width: fit-content;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(209, 124, 163);
}


.body3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 15px 0;
    padding: 10px 0 10px 0;
    background-color: rgb(240, 239, 239);
}
#body31{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 205px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#body32{
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(2, 2, 2);
}
#body33{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: crimson;
    letter-spacing: 2px;
}
#body34{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 150;
    word-spacing: 5px;
    color: rgb(42, 38, 38);
}
#body35{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(108, 113, 119, 0.945);
    margin: 10px 0 10px 0;
}


.body4{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    margin-bottom: 15px;
}
.body40{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 49%;
    min-height: 100%;
    padding-top: 30px;
    background-color: rgb(202, 190, 202);
}
#body401{
    width: 30%;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: rgba(238, 67, 67, 0.9);
}
#body402{
    width: 100%;
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 30px;
    font-weight: 600;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgba(46, 37, 37, 0.9);
}
#body403{
    
    text-align: center;
    width: 60%;
}
.body40 img{
    margin: 50px 0 50px 0;
    width: 50%;
}

.body41{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 49%;
    min-height: 100%;
    padding-top: 50px;
    background-color: rgb(240, 239, 239);
}
#body410{
    width: 30%;
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgba(46, 37, 37, 0.9);
}
#body411{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgba(82, 26, 99, 0.9);
}
#body412{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(46, 37, 37, 0.8);
}
#body413{
    width: 30%;
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(108, 113, 119, 0.945);
}
.body41 div{
    margin: 0 0 35px 0;
}
.body41 img{
    width: 70%;
    justify-self: flex-end;
}


.body5{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}
.body50{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 49%;
    min-height: 100%;
    padding-top: 30px;
    background-color: rgb(240, 239, 239);
}
#body501{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    width: 30%;
    text-align: center;
}
#body502{
    width: 30%;
    margin: 5px 0 10px 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(85, 82, 82);
}
.body50 img{
    width: 60%;
    margin: 30px 0 0 0;
}

.body51{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 49%;
    min-height: 100%;
    padding-top: 30px;
    background-color: rgb(202, 190, 202);
}
#body510{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 210px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#body511{
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(2, 2, 2);
}
#body512{
    width: 100%;
    text-align: center;
    margin: 5px 0 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(63, 60, 60);
}
#img{
    width: 85%;
    align-self: flex-end;
    margin: 50px 0 50px 0;
    height: 180px;
}




/*
.body7{ 
    display: inline-block;
    width: 50%;
}
.body8{
    display: flex;
    width: 50%;
    height: 400px;
}
#body71{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    max-width: 100%;
}
#body72{
    display: inline;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(2, 2, 2);
}
#body73{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: grey;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    max-width: 100%;
    margin-top: 10px;
}
#body74{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: grey;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 10px;
}
.id7{
    max-width: 100%;
    text-align: center;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
} */